[buildout]
extends = http://dist.plone.org/release/4.3.7/versions.cfg local.cfg
extensions = mr.developer
parts =
    instance
#    test
#    code-analysis
#    releaser
#    i18ndude
#    omelette
#    robot
#    nodejs
develop = .

sources = sources
auto-checkout =
    plonesocial.theme
    collective.carousselplace
    collective.abcmusic
    collective.js.midijs

[sources]
plonesocial.theme = git https://github.com/erichardy/plonesocial.theme.git
collective.carousselplace = git https://github.com/tristanlt/collective.carousselplace.git
collective.abcmusic = git https://github.com/erichardy/collective.abcmusic.git rev=0.4
collective.js.midijs = git https://github.com/erichardy/collective.js.midijs.git

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
eggs =
    Plone
    Pillow
    rmi.site
    plone.app.ldap
    collective.carousselplace
    collective.abcmusic
#    collective.carousel
#    collective.plonetruegallery
#    collective.ptg.allnewest
# to add to setup.py, see also [versions]    
#    plonesocial.theme
#    wildcard.foldercontents
#    webcouturier.dropdownmenu
#    collective.cover
#    collective.geo.bundle
    

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/rmi
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'rmi.site', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[nodejs]
recipe = gp.recipe.node
# url = http://nodejs.org/dist/v${versions:nodejs}/node-v${versions:nodejs}.tar.gz
version = 4.2.3
npms = gulp gulp-minify-css
       fs
       jshint@2.9.1-rc1
       gulp-autoprefixer
       gulp-cache
#       gulp-clean
       gulp-concat
       gulp-debug
       gulp-imagemin
       gulp-jshint@2.0.0
       gulp-less
       gulp-minify-css
       gulp-notify
       gulp-rename
       gulp-rimraf
       gulp-ruby-sass
       gulp-shell
       gulp-uglify

[versions]
# Don't use a relased version of rmi.site
rmi.site =

setuptools = 18.1
zc.buildout = 2.4.1
zc.recipe.egg = 2.0.2
flake8 = 2.3.0
i18ndude = 3.4.0
robotframework = 2.8.4
robotframework-ride = 1.3
robotframework-selenium2library = 1.6.0
robotsuite = 1.6.1
selenium = 2.46.0

plonesocial.theme = 0.5.4
plone.app.jquery = 1.11.2
plone.app.ldap = 1.3.2

collective.carousel = 1.7

collective.ptg.bootstrapcarousel = 1.0.1